# General
.vscode
env
__pycache__/
.ipynb_checkpoints/
.DS_Store
.texpadtmp
*.csv

# Cantus Corpus
dataset/cantuscorpus/

# PYP
models/src/models/nhpylm/icwb2-data/
models/src/models/nhpylm/chinese

# Others
tmp/
ToDo.md